.me-img {
  background-image: url('../../assets/andrewdecker.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 100%;
}

.bio-text {
  width: 80%;
}

.name-header {
  padding-bottom: 7%;
}
