<div class="row align-items-center justify-content-center h-100">
  <div class="col-md-6 h-75">
    <div class="me-img mx-auto"></div>
  </div>
  <div class="col-md-6 mx-auto h-75">
    <div class="bio-text">
      <h1 class="name-header">Andrew Decker</h1>
      <p>I’m a software developer by trade.  I work at <a href="https://www.cloudburststudio.com/">Cloudburst SBC</a>, a Minneapolis-based       start-up studio cultivating work-life balance and inclusive culture.  We partner with entrepreneurs to build web and mobile apps using modern frameworks such as Angular, Ionic, Firestore, MySQL, etc.
      </p>
      <p>Outside of work, my interests include math, meditation, and music.  I am curious by nature, and I enjoy playing around with ideas.  I hope to organize my thoughts and reflections here.
      </p>
      <p>Like this website, I am a work in progress.</p>
    </div>
  </div>
</div>
