<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div id="collapsingNavbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav text-uppercase ml-auto w-100 justify-content-end">
       <li class="nav-item py-2 px-3 active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item py-2 px-3">
        <a class="nav-link" href="#">Projects</a>
      </li>
      <li class="nav-item py-2 px-3">
        <a class="nav-link" href="#">Bio</a>
      </li>
    </ul>
  </div>
</nav>

<section>

</section>
