.logo-container {
  height: 50%;
}

.logo-img {
  background-image: url('../../assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 55%;
  height: 90%;
}

.top-text-container {
  height: 25%;

}
.bottom-text-container {
  height: 25%;
}

.top-text {
  font-size: 3rem;
}
.bottom-text {
  font-size: 3rem;
}

