.logo-container {
  height: 50%;
}

.logo-img {
  background-image: url('../../assets/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 55%;
  height: 90%;
}

.top-text-container {
  height: 25%;

}
.bottom-text-container {
  height: 25%;
}

.top-text {
  font-size: 4.5rem;
  font-weight: 250;
  letter-spacing: .5rem;
  padding-left: 1rem;
  text-transform: uppercase;
}
.bottom-text {
  font-size: 3rem;
  font-weight: 250;
}

.social-media {
  color: teal;
  font-size: .8rem;
  font-weight: 100;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
