<div class="row align-items-center justify-content-center top-text-container">
    <div class="col-md-4 mx-auto text-center">
      <h2 class="top-text">Top text</h2>
    </div>
  </div>
<div class="row align-items-center justify-content-center logo-container">
  <div class="col-md-4 mx-auto text-center logo-img ">
  </div>
</div>
<div class="row align-items-center justify-content-center bottom-text-container">
  <div class="col-md-4 mx-auto text-center">
    <h2 class="bottom-text">Bottom text</h2>
  </div>
</div>
