<div class="row align-items-center justify-content-center top-text-container">
  <div class="col-md-8 mx-auto text-center">
    <h2 class="top-text"> Zen Pylon</h2>
  </div>
</div>
<div class="row align-items-center justify-content-center logo-container">
  <div class="col-md-4 mx-auto text-center logo-img ">
  </div>
</div>
<div class="row align-items-center justify-content-center bottom-text-container">
  <div class="col-md-8 mx-auto text-center">
    <h2 class="bottom-text">Code, Creativity, Curiosity</h2>
    <h6 class="social-media">
      <a class="social-media" href="https://www.facebook.com/andrew.decker.142">Facebook</a> |
      <a class="social-media" href="https://twitter.com/ZenPylon">Twitter</a> |
      <a class="social-media" href="https://www.linkedin.com/in/ajdecker1022/">LinkedIn</a>
    </h6>

  </div>
</div>
